.lang_select {
     position: absolute;
     z-index: 50;
   }
   
   .lang_select .selec_container {
     display: flex;
     justify-content: center;
     align-items: center;
     transition-delay: 1s;
   }
   
   @media screen and (max-width: 576px) {
     .lang_select .selec_container {
       flex-direction: column;
     }
   }
   .lang_select .selec_container .icon {
     background: transparent;
     border: 1px solid #6d6d6d;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     cursor: pointer;
   }
   
   .lang_select .selec_container .icon span {
     padding: 10px;
   }
   
   .lang_select .selec_container .selects {
     display: flex;
     gap: 10px;
     margin-left: 20px;
     cursor: pointer;
   }
   
   @media screen and (max-width: 576px) {
     .lang_select .selec_container .selects {
       flex-direction: column;
       margin: 20px 0 0;
     }
   }
   .lang_select .selec_container .selects span {
     font-size: 16px;
     color: #373737;
     cursor: pointer;
     opacity: 0;
     transition: opacity 0.4s;
     padding-bottom: 2px;
     border-bottom: 2px solid transparent;
   }
   
   .lang_select .selec_container .selects span:hover {
     transition: 0.4s;
     transition-delay: 0s !important;
     color: #fdfdfd;
   }
   
   a[data-v-011ba968] {
     text-decoration: none;
   }
   
   span[data-v-011ba968] {
     color: #373737;
     position: relative;
     z-index: 40;
   }
   
   span[data-v-011ba968]:after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -1px;
     transform: scaleX(0);
     transform-origin: bottom right;
     transition: transform 0.65s ease-out;
     height: 2px;
     width: 100%;
     background-color: #fff;
   }
   
   span[data-v-011ba968]:hover {
     transition: 0.4s;
     color: #fff;
   }
   
   span[data-v-011ba968]:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
   }
   
   .menu_btn[data-v-a2d76484] {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 40px;
     height: 40px;
     position: absolute;
     transition: transform 0.9s linear;
     cursor: pointer;
   }
   
   .menu_btn span[data-v-a2d76484] {
     position: absolute;
     height: 3px;
     width: 100%;
     background: #000;
     transition: 0.5s;
   }
   
   .menu_btn span[data-v-a2d76484]:first-child {
     top: 8px;
   }
   
   .menu_btn span[data-v-a2d76484]:nth-child(3) {
     bottom: 8px;
   }
   
   .active[data-v-a2d76484] {
     transition: 0.9s linear;
     z-index: 100;
   }
   
   .active span[data-v-a2d76484] {
     transition: 0.3s linear;
   }
   
   .active span[data-v-a2d76484]:first-child {
     transition-delay: 0.2s;
     top: 18.5px;
     transform: rotate(45deg);
   }
   
   .active span[data-v-a2d76484]:nth-child(2) {
     transform: translateX(-20px);
     width: 0;
   }
   
   .active span[data-v-a2d76484]:nth-child(3) {
     transition-delay: 0.2s;
     bottom: 18.5px;
     transform: rotate(-45deg);
   }
   
   @media screen and (max-width: 768px) {
     .links[data-v-be754248] {
       position: fixed;
       top: 0;
       right: -100%;
       bottom: 0;
       z-index: 85;
       transition: 0.5s linear;
       height: 100%;
       width: 100%;
       background: #c2c2c2;
     }
     .links .links_container[data-v-be754248],
   .links[data-v-be754248] {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
     }
     .links .links_container[data-v-be754248] {
       z-index: 120;
       gap: 20px;
     }
     .links .links_container .link[data-v-be754248] {
       position: static;
       transform: none;
     }
     .links.open[data-v-be754248] {
       right: 0;
     }
     .links.open .links_container .link[data-v-be754248] {
       position: static;
       transform: none;
     }
   }
   .links .link[data-v-be754248] {
     position: absolute;
     z-index: 40;
   }
   
   .links .link_left[data-v-be754248] {
     left: 0;
     top: 50%;
     transform: translateY(-50%) rotate(-90deg);
   }
   
   @media screen and (max-width: 1024px) {
     .links .link_left[data-v-be754248] {
       left: -15px;
     }
   }
   .links .link_bot[data-v-be754248] {
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
   }
   
   @media screen and (max-width: 1024px) {
     .links .link_bot[data-v-be754248] {
       bottom: 10px;
     }
   }
   .links .link_right[data-v-be754248] {
     right: -15px;
     top: 50%;
     transform: translateY(-50%) rotate(90deg);
   }
   
   @media screen and (max-width: 1024px) {
     .links .link_right[data-v-be754248] {
       right: -30px;
     }
   }
   .menu_bnt[data-v-be754248] {
     position: absolute;
     right: 16px;
     top: 16px;
     z-index: 85;
   }
   
   #path[data-v-22f2da58] {
     stroke: #000;
     stroke-miterlimit: 10;
   }
   
   .logo[data-v-22f2da58] {
     display: flex;
     align-items: center;
     overflow: hidden;
   }
   
   .logo[data-v-10db137a] {
     position: absolute;
     top: 16px;
     left: 50%;
     transform: translateX(-50%);
     z-index: 80;
   }
   
   .lang_select[data-v-10db137a] {
     top: 16px;
     left: 16px;
   }
   
   .running_text {
     position: absolute;
     overflow: hidden;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     pointer-events: none;
   }
   
   .running_text .text_container {
     display: flex;
     flex-direction: column;
     gap: 10px;
     transform: rotate(-30deg);
     z-index: 0;
   }
   
   @media screen and (max-width: 1024px) {
     .running_text .text_container {
       transform: rotate(140deg);
     }
   }
   @media screen and (max-width: 768px) {
     .running_text .text_container {
       transform: rotate(120deg);
     }
   }
   @media screen and (max-width: 576px) {
     .running_text .text_container {
       transform: rotate(123deg);
     }
   }
   .running_text .line_1 {
     transform-origin: center center;
     transform: rotate(180deg) translateX(2000px);
   }
   
   .running_text .line_2 {
     transform-origin: center center;
     transform: translateX(2000px);
   }
   
   .running_text .line {
     display: flex;
     white-space: nowrap;
   }
   
   .running_text .line div {
     opacity: 0.2;
     -webkit-animation: background_text_animation 700s linear infinite;
             animation: background_text_animation 700s linear infinite;
     -webkit-animation-delay: -400s;
             animation-delay: -400s;
   }
   
   .running_text .line span {
     -webkit-text-stroke: 1px #000;
     color: transparent;
     font-size: 52px;
     font-style: italic;
   }
   
   @-webkit-keyframes background_text_animation {
     0% {
       transform: transalteX(100%);
     }
     to {
       transform: translateX(-100%);
     }
   }
   
   @keyframes background_text_animation {
     0% {
       transform: transalteX(100%);
     }
     to {
       transform: translateX(-100%);
     }
   }
   .fade-enter-active,
   .fade-leave-active {
     transition: 0.5s ease;
   }
   
   .fade-enter-active:after,
   .fade-leave-active:after {
     position: fixed;
     content: "";
     top: 0;
     width: 100vw;
     height: 100vh;
     background: #ffcb46;
     background: linear-gradient(90deg, #bebebe, #ffcb46);
     transition: 0.5s ease;
     z-index: 100;
   }
   
   .fade-enter-from:after {
     left: 0;
   }
   
   .fade-enter-to:after {
     left: 100%;
   }
   
   .fade-leave-from:after {
     left: -100%;
   }
   
   .fade-leave-to:after {
     left: 0;
   }
   
   @font-face {
     font-family: GrtskGiga;
     src: url(../fonts/GrtskGiga-Medium.ttf);
   }
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   
   #app {
     font-family: GrtskGiga, sans-serif;
     text-align: center;
     color: #2c3e50;
     width: 100vw;
     height: 100vh;
     background: #bebebe;
   }
   
   .hover[data-v-8fb1da94] {
     -webkit-animation: circle-8fb1da94 7s linear infinite;
             animation: circle-8fb1da94 7s linear infinite;
   }
   
   .circle_text_container[data-v-8fb1da94] {
     position: relative;
     z-index: 25;
   }
   
   .circle_text_container[data-v-8fb1da94]:active,
   .circle_text_container[data-v-8fb1da94]:hover {
     -webkit-animation: circle-8fb1da94 7s linear infinite;
             animation: circle-8fb1da94 7s linear infinite;
   }
   
   .circle_text_container .center[data-v-8fb1da94] {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background: #000;
     z-index: 10;
   }
   
   @media screen and (max-width: 576px) {
     .circle_text_container .center[data-v-8fb1da94] {
       width: 5px;
       height: 5px;
     }
   }
   .circle_text_container .circle_text[data-v-8fb1da94] {
     width: 115px;
     height: 115px;
   }
   
   @media screen and (max-width: 1024px) {
     .circle_text_container .circle_text[data-v-8fb1da94] {
       width: 110px;
       height: 110px;
     }
   }
   @media screen and (max-width: 768px) {
     .circle_text_container .circle_text[data-v-8fb1da94] {
       width: 100px;
       height: 100px;
     }
   }
   @media screen and (max-width: 576px) {
     .circle_text_container .circle_text[data-v-8fb1da94] {
       width: 80px;
       height: 80px;
     }
   }
   @media screen and (max-width: 950px) and (max-height: 500px) {
     .circle_text_container .circle_text[data-v-8fb1da94] {
       width: 100px;
       height: 100px;
     }
   }
   @media screen and (max-width: 700px) and (max-height: 500px) {
     .circle_text_container .circle_text[data-v-8fb1da94] {
       width: 80px;
       height: 80px;
     }
   }
   @media screen and (max-width: 350px) {
     .circle_text_container .circle_text[data-v-8fb1da94] {
       width: 70px;
       height: 70px;
     }
   }
   .circle_text_container .circle_text svg[data-v-8fb1da94] {
     padding: 10px;
     display: block;
     overflow: visible;
     width: 100%;
   }
   
   .circle_text_container .circle_text path[data-v-8fb1da94] {
     fill: none;
   }
   
   .circle_text_container .circle_text textPath[data-v-8fb1da94] {
     font-size: 14px;
     letter-spacing: 2px;
     fill: #fff;
   }
   
   @-webkit-keyframes circle-8fb1da94 {
     0% {
       transform: rotate(0deg);
     }
     to {
       transform: rotate(-1turn);
     }
   }
   
   @keyframes circle-8fb1da94 {
     0% {
       transform: rotate(0deg);
     }
     to {
       transform: rotate(-1turn);
     }
   }
   .main_text[data-v-8290b2a6] {
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     width: -moz-fit-content;
     width: -webkit-fit-content;
     width: fit-content;
     z-index: 5;
   }
   
   .main_text .circle_container[data-v-8290b2a6] {
     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 578px;
     height: 578px;
   }
   
   @media screen and (max-width: 1024px) {
     .main_text .circle_container[data-v-8290b2a6] {
       width: 478px;
       height: 478px;
     }
   }
   @media screen and (max-width: 768px) {
     .main_text .circle_container[data-v-8290b2a6] {
       width: 478px;
       height: 478px;
     }
   }
   @media screen and (max-width: 950px) and (max-height: 500px) {
     .main_text .circle_container[data-v-8290b2a6] {
       width: 350px;
       height: 350px;
     }
   }
   @media screen and (max-width: 700px) and (max-height: 500px) {
     .main_text .circle_container[data-v-8290b2a6] {
       width: 280px;
       height: 280px;
     }
   }
   @media screen and (max-width: 576px) {
     .main_text .circle_container[data-v-8290b2a6] {
       width: 350px;
       height: 350px;
     }
   }
   @media screen and (max-width: 350px) {
     .main_text .circle_container[data-v-8290b2a6] {
       width: 250px;
       height: 250px;
     }
   }
   .main_text .circle_container .circle[data-v-8290b2a6] {
     width: 100%;
     height: 100%;
     background: #ffcb46;
     filter: blur(38px);
     border-radius: 50%;
     z-index: 5;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
   
   @media screen and (max-width: 576px) {
     .main_text .circle_container .circle_text_container[data-v-8290b2a6] {
       margin-right: 20px;
     }
   }
   .main_text h1[data-v-8290b2a6] {
     font-weight: 800;
     font-size: 70px;
     line-height: 90px;
     text-align: center;
     text-transform: uppercase;
     z-index: 10;
     color: #373737;
     cursor: default;
   }
   
   @media screen and (max-width: 1024px) {
     .main_text h1[data-v-8290b2a6] {
       font-size: 55px;
     }
   }
   @media screen and (max-width: 768px) {
     .main_text h1[data-v-8290b2a6] {
       width: 490px;
       font-size: 50px;
     }
   }
   @media screen and (max-width: 576px) {
     .main_text h1[data-v-8290b2a6] {
       font-size: 34px;
       line-height: 40px;
       width: 350px;
     }
   }
   @media screen and (max-width: 950px) and (max-height: 500px) {
     .main_text h1[data-v-8290b2a6] {
       font-size: 34px;
       line-height: 40px;
       width: 550px;
     }
   }
   @media screen and (max-width: 700px) and (max-height: 500px) {
     .main_text h1[data-v-8290b2a6] {
       font-size: 34px;
       line-height: 40px;
       width: 550px;
     }
   }
   @media screen and (max-width: 350px) {
     .main_text h1[data-v-8290b2a6] {
       font-size: 24px;
       line-height: 37px;
       width: 250px;
     }
   }
   .main[data-v-13102fb6] {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100%;
   }
   
   h1[data-v-7b26a6e6] {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }